body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0095ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.img-response {
    display: flex;
    justify-content: center;
}

#image-container:empty{
    display: none;
}

#image-container {
    margin-top: 20px;
    overflow: scroll;
    max-width: 600px;
    max-height: 400px;
}

.code-response {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.code-html:empty,
.code-css:empty {
    display: none;
}

.code-html,
.code-css {
    width: 45%;
}

@media (max-width: 992px) {
    .code-response {
        flex-direction: column;
    }

    .code-html,
    .code-css {
        width: 100%;
    }
    form {
        width: 90%;
    }
}